<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reset.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/404.css')}}" type="text/css">
</head>
<body>
    <h1>Page Not Found</h1><br><br>
    <!-- <p>Can find our home page here : <a href="{{url_for('index')}}">CoviBoard</a></p> -->
    <p>Home page 👇🏻👇🏻👇🏻</p>
    
        <div class="row1">
            <div class="f4">4</div>
            <div >
                <a href="{{url_for('index')}}">
                    <video autoplay muted loop width="300px" height="300px"><source src="https://cdn.glitch.global/c8580480-6a14-4585-b15e-7e138c0e76a2/covid_cells.mp4?v=1663675887480" type="video/mp4"></video>
                    <!-- <img src="{{url_for('static', filename='img/covid_cells_rtr.gif')}}" alt="Home"> -->
                </a>
            </div>
            <div class="l4">4</div>
      
    </div>
       
</body>

</html>