<html>
  <head>
    <title>
      CoviBoard | Vaccine Status
    </title>
    <link
      rel="icon"
      type="image/png"
      href="{{url_for('static', filename='img/logo16.png')}}"
    />
    <meta name="title=" content="COVIBOARD | VACCINATION STATUS" />
    <meta
      name="image"
      content="{{url_for('static', filename='img/vaccine.png')}}"
    />
    <meta
      name="description"
      content="One stop for all COVID-19 related information"
    />
    <meta name="url" content="https://coviboard.glitch.me/vstatus.html" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/reset.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/vstatus.css')}}" type="text/css" />
  </head>
  <body>
    <div class="row header">
      <div class="col">
        <h1 id="title"><center>Vaccine Status</center></h1>
      </div>
      <div class="col">
        <img
          src="{{url_for('static', filename='img/vaccination.png')}}"
          alt="vaccination"
          align="right"
        />
      </div>
    </div>
    <div id="hlnk" class="row">
      <div class="col-4" id="l0">
        <center>
          <a href="{{url_for('index')}}"
            >Home&emsp;<i class="fi-sr-home"></i
          ></a>
        </center>
      </div>
      <div class="col-4" id="l1">
        <center>
          <a href="{{url_for('updates')}}"
            >Updates&emsp;<i class="fi-sr-alarm-clock"></i
          ></a>
        </center>
      </div>
      <div class="col-4" id="l2">
        <center>
          <a href="{{url_for('contact')}}"
            >Contact us&emsp;<i class="fi-sr-headset"></i
          ></a>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-7 car">
        <div class="card text-dark bg-light mb-3">
          <!-- <img
            src=""
            class="card-img-top"
            alt="vaccinate"
          /> -->
          <!-- <video autoplay="autoplay"><source src="{{url_for('static', filename='img/vaccine_loop.mp4')}}" type="video/mp4"></video> -->
          <img src="{{url_for('static', filename='img/Vheader.png')}}" alt="Vaccination">
          <div class="card-body">
            <h5 class="card-title">COVID-19 Vaccination</h5>
            <p class="card-text">
              Vaccination for COVID-19 is completely safe. We have a choice
              between Covaccine and Covisheild. Citizens of age group greater
              than 45 can walk directly into vaccination center where as
              citizens of age in between 18 and 45 should book an appoinment.
            </p>
            <p class="card-text">
              <small
                >Link for slot booking :
                <a id="none" href="https://selfregistration.cowin.gov.in/">
                  Registration</a
                ></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fot"></div>
    <div class="footer">
      <center>
        <p>
          This site is designed and maintained by
          <span style="color: wheat;">Jagadeesh Undavalli</span> a student of
          Vishnu Institute of Technology
        </p>
      </center>
      <div class="row">
        <div class="col-1">
          <a id="bot" target="_blank" href="https://github.com/UndavalliJagadeesh"
            ><img
              src="{{url_for('static', filename='img/github.png')}}"
              alt="github"
              style="margin-left:60px;"
          /></a>
        </div>
        <div class="col-1">
          <a id="bot1" target="_blank" href="https://www.linkedin.com/in/jagadeeshundavalli/"
            ><img
              src="{{url_for('static', filename='img/linkedin.png')}}"
              alt="linkedin"
          /></a>
        </div>
        <div class="col-6">
          <p style="margin-left: 50%;">
            © 2021, CoviBoard. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
